<header class="page-header">
<h1>Admin &raquo; Dashboard</h1>
</header>

<table class="table table-striped">
  <thead>
    <tr>
        <th scope="col" class="text-center">
          <%= link_to 'Products', controller: 'admin/products' %>
        </th>
        <th scope="col" class="text-center">
          <%= link_to 'Categories', controller: 'admin/products' %>
        </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center"><%= @product_count %></td>
      <td class="text-center"><%= @category_count %></td>
    </tr>
  </tbody>
</table>